<h1>
<b>The Battle of Neighborhoods<b>
</h1>

<b>Week 4:Part b</b>

<b>Data Requirements</b>

To find a solution to the questions and build a recommender model, we need lots of data. Data can answer question which are unimaginable and non answerable by humans because humans do not have the tendency to analyse such large dataset and produce analtics to find a solutions.

<b>Data Collection</b>

Data collection is important for the project as we need more data. Below is the full dataset used for this project. I collected these datas from Google

In [6]:
Full Dataset

,Unnamed: 0,Borough,Neighborhoods,Latitude,Longitude,Population,Average Income,Unnamed: 7
0,0,North Chennai,Red Hills,13.1865,80.1999,743186,56837.022200,NaN
1,1,North Chennai,Ayanavaram,13.0979,80.2306,474289,41991.817440,NaN
2,2,North Chennai,Royapuram,13.1137,80.2954,527874,6667.447632,NaN
3,3,North Chennai,Korukkupet,13.1186,80.2780,893629,53270.063890,NaN
4,4,North Chennai,Vyasarpadi,13.1184,80.2594,730999,50712.430220,NaN

In [4]:
Income Dataset

   Unnamed: 0        Borough Neighborhoods  Average Income
0           0  North Chennai     Red Hills    56837.022200
1           1  North Chennai    Ayanavaram    41991.817440
2           2  North Chennai     Royapuram     6667.447632
3           3  North Chennai    Korukkupet    53270.063890
4           4  North Chennai    Vyasarpadi    50712.430220

In [5]:

Population Dataset

   Unnamed: 0        Borough Neighborhoods  Population
0           0  North Chennai     Red Hills      743186
1           1  North Chennai    Ayanavaram      474289
2           2  North Chennai     Royapuram      527874
3           3  North Chennai    Korukkupet      893629
4           4  North Chennai    Vyasarpadi      730999